<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <Product Id="*" Name="Sleeptimer" Language="1033" Version="1.0" Manufacturer="bixense.com" UpgradeCode="7EF92BA6-E116-406B-BF19-9C8A0DF84AFF">
        <Package Description="Sleeptimer Installer"
          Manufacturer="bixense.com"
          InstallerVersion="200" Languages="1033" Compressed="yes" />
        <Media Id="1" Cabinet="simple.cab" EmbedCab="yes" />
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder" Name="PFiles">
                <Directory Id="INSTALLDIR" Name="Sleeptimer">
                    <Directory Id="data" Name="data">
                        <Component Id="sleeptimer.exe" DiskId="1" Guid="*">
                            <File Id="sleeptimer.exe" Name="sleeptimer.exe" Source="sleeptimer.exe" KeyPath="yes">
                                <Shortcut Id="desktopShortcut" Directory="DesktopFolder" Name="Sleeptimer" WorkingDirectory="INSTALLDIR" Advertise="yes" Icon="icon.exe" IconIndex="0" />
                                <Shortcut Id="ExeShortcut" Directory="ProgramMenuDir" Name="Sleeptimer" Advertise="yes" Icon="icon.exe" IconIndex="0" WorkingDirectory="data" />
                            </File>
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
            <Directory Id="DesktopFolder" />
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ProgramMenuDir" Name="Sleeptimer">
                    <Component Id="StartMenuShortcuts" Guid="*">
                        <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
                        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Type="string" Value="" />
                    </Component>
                </Directory>
            </Directory>
        </Directory>
        <Feature Id="DefaultFeature" Title="Main Feature" Level="1" ConfigurableDirectory='INSTALLDIR'>
            <ComponentRef Id="StartMenuShortcuts" />
            <ComponentRef Id="sleeptimer.exe" />
            <ComponentGroupRef Id="DataFiles" />
        </Feature>
        <UI />
        <UIRef Id="WixUI_InstallDir" />
        <WixVariable Id="WixUILicenseRtf" Value="gpl3.rtf" />
        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
        <Icon Id="icon.exe" SourceFile="../time.ico" />
        <Property Id="ARPPRODUCTICON" Value="icon.exe" />
        <Property Id="ALLUSERS" Secure="yes" Value="2"/>
        <Property Id="MSIINSTALLPERUSER" Secure="yes" Value="1"/>
    </Product>
</Wix>
